{% extends 'base.html' %}

{% block page_content %}
    <h1 class="library-heading">Library</h1>
    
    <div class="sorting-container mb-3 align-items-center">
    <form method="get" class="sort-form">
        <label for="user_sort_by" class="mr-2">Sort by:</label>
        <select name="user_sort_by" id="user_sort_by" class="form-control mr-3" onchange="this.form.submit()">
            <option value="title" {% if request.GET.user_sort_by == 'title' %}selected{% endif %}>Title</option>
            <option value="author" {% if request.GET.user_sort_by == 'author' %}selected{% endif %}>Author</option>
            <option value="genre" {% if request.GET.user_sort_by == 'genre' %}selected{% endif %}>Genre</option>
        </select>

        <label for="user_order" class="mr-2">Order:</label>
        <select name="user_order" id="user_order" class="form-control mr-3" onchange="this.form.submit()">
            <option value="asc" {% if request.GET.user_order == 'asc' %}selected{% endif %}>Ascending</option>
            <option value="desc" {% if request.GET.user_order == 'desc' %}selected{% endif %}>Descending</option>
        </select>
    </form>
    </div>  

    {% if error_message %}
        <div class="error-message">{{ error_message }}</div>
    {% endif %}

    <div class="table-container">
            <table class="books-table">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Genre</th>
                    </tr>
                </thead>
                <tbody>
                    {% for book in books %}
                        <tr>
                            <td><a href="{% url 'book_detail' book.id %}">{{ book.title }}</a></td>
                            <td>{{ book.author }}</td>
                            <td>{{ book.genre }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </div>

{% endblock %}