.profile-update-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.profile-update-card {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.profile-update-card h2 {
    margin-bottom: 20px;
    text-align: center;
}

.profile-update-form {
    margin-top: 20px;
}

.profile-update-form .form-row {
    margin-bottom: 15px;
}

.profile-update-form .form-row label {
    display: block;
    margin-bottom: 5px;
}

.profile-update-form .form-row input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.profile-update-form .text-center {
    margin-top: 20px;
}

.profile-update-form .btn-primary {
    background-color: #ff546c;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.profile-update-form .btn-primary:hover {
    background-color: #e13f56;
}
